body{
    background: blue;
}

#div-head {
    background: rgb(4, 31, 56);
}

#logo {
    width: 40px;
    height: 40px;
}

#p-logo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

div{
    padding: 10px;
    background: green;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

h3{
    padding: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}